.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    .container {
      max-width: 1200px;
      max-height: 50vh;
      margin: 0 auto;
      background-color: rgb(33, 182, 28);
      padding: 20px;
      border: 20px solid #8B4513;
    }
  }


form div {
    padding: 5px 5px 5px 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.subForm {
    width: 100%;
    display: inline-grid;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  
  button {
    width: 100px;
    margin-right: 10px;
  }
.hatter{
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url('../../376007-4k-wallpaper.jpg');


}